<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>

        p.h2 {
            margin-left: 50px;
        }

        .urls {
            width: 500px;
        }

        td:hover {
            background-color: rgb(226, 226, 226);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/bookmark">Bookmark</a>
            </li>
        </div>
    </nav>
    <p class="h2">bookmark list</p><br><br><br>
    <table class="table urls">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">link</th>
            </tr>
        </thead>
        <tbody>
            {% for bookmark in object_list %}
                <tr>
                    <td><p class="lead">{{ bookmark.id }}</p></td>
                    <td><p class="lead">{{ bookmark.title }}</p></td>
                    <td><a href="/bookmark/{{bookmark.id}}" class="link lead">bookmark/{{bookmark.id}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>